<h2>New Celebrity</h2>
<form action="/celebrities/process-movies" method="POST">
    <label for="">
        Name:
        <input type="text" name="name" placeholder="Tom Cruise">
    </label>
    <label for="">
        Occupation:
        <input type="text" name="occupation" placeholder="actor">
    </label>
    <label for="">
        Catchphrase:
        <input type="text" name="catchPhrase" placeholder="I'm an all-or-nothing kind of person...">
    </label>

    <button>Save changes</button>

</form>